.App {
    background: #eeeeee;
    max-width: 500px;
    min-height: 750px;
    padding-bottom: 20px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.homepage_input {
    width: 80%;
    margin-top: 20px;
}

.homepage_btn {
    width: 60%;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: #2c8ffa;
}